_,.-'~'-.,__,.-'~'-.,_
** **
**ℍ𝕒𝕡𝕡𝕪 ℍ𝕦𝕟𝕘𝕖𝕣 𝔾𝕒𝕞𝕖𝕤!**
** **
{{.EffieEmoji}}  Citizens of Panem, beloved **{{.Sponsor}}** has sponsored a new Hunger Games event.
** **
Rules for this contest:
** **
• React to this message with {{.EntryEmoji}} within the next {{.Delay}} to participate.
{{- if gt .VictorCount 1}}
• {{.VictorCount}} tributes will be declared this year's victors.
{{- else}}
• {{.VictorCount}} tribute will be declared this year's victor.
{{end}}
{{- if gt .MinimumTier 1}}
• You must be Tier {{.MinimumTier}} or higher to enter.
{{- end}}
** **
May the odds be ever in your favor!
** **
_,.-'~'-.,__,.-'~'-.,_