> Happy Hunger Games, and may the odds be ever in your favor.
> 
> {{.User}} has sponsored a new **ℍ𝕦𝕟𝕘𝕖𝕣 𝔾𝕒𝕞𝕖𝕤** event. React to this message with a :dove: (\:dove:) within the next {{.Delay}} to participate.
>  
> Only one contestant will be victorious. Best of luck.