
```
##########
𝕊𝕢𝕦𝕚𝕕 𝔾𝕒𝕞𝕖
##########

[ 🔴 🔺 🟥 ]

{{.User}} has sponsored a new Squid Game and you have received an invitation to join. To accept the invitation, react to this message with a :squid:.

Only one contestant will be victorious. Good luck to you.
```
